{% extends 'dean/base.html' %}
{% block title %}Register Staff{% endblock %}
{% block staff %}active {% endblock %}
{% block body %}

{% if messages %}
        <div class="container mb-5 mt-5">
            <center>
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            </center>
        </div>
    {% endif %}
    <center><h1 class="display-5 mt-5">Register a new Dean Staff</h1></center>
    <div class="container mt-5 mb-5">
        <center class="shadow-lg p-3 mb-5 bg-body rounded">
            <form action="{% url 'dean:staff' %}" method="POST">
                {% csrf_token %}
                <table class="table table-striped">
                    <tbody>
                        {% for field in form %}
                        <tr>
                            <th>{{field.label_tag}}</th>
                            <td>{{field}}</td>
                          </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                  <input type="submit" value="Register" class="btn btn-success">
            </form>
        </center>
    </div>
   
{% endblock %}