{% extends 'admission/base.html' %}
{% block title %}Admission Portal{% endblock title%}
{% block staff%}active{% endblock staff%}
{% block body %}
    <center><h1 class="display-5">Register New Staff</h1></center>

    <center>
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 40rem;">
            <div class="card-body">
                <form action="{% url 'admission:account' %}" method="POST">
                    {% csrf_token %}
                    {% for f in form %}
                        {% if f.label == 'Date of birth' %}
                        {{f}}
                        {% else %}
                        {{f}}
                        {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-success">Create Profile </button>
                </form>
            </div>
          </div>
    </center>

    <center>
        

    </center>
{%endblock body %}