{% extends 'finance/base.html' %}
{% block title %}Student Profile{% endblock title%}
{% block profile%}active{% endblock profile%}
{% block body %}
    <div class="container mb-5 mt-5">
        <center>
            <h1 class="display-6 mb-5">New Student List</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">last Name </th>
                    <th scope="col">User Name</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Total Tution Fee</th>
                    <th scope="col">Pay</th>
                  </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <th scope="row">{{student.id}}</th>
                        <td>{{student.firstname}}</td>
                        <td>{{student.lastname}}</td>
                        <td>{{student.user}}</td>
                        <td>{{student.course}}</td>
                        <td>{{student.actual_fee}}</td>
                        <td><a href="{% url 'finance:studentactivate' student.id %}" class="btn btn-success">Pay</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </center>
    </div>
{%endblock body %}