{% extends 'finance/base.html' %}
{% block title %}Student Profile{% endblock title%}
{% block student%}active{% endblock student%}
{% block body %}

    <div class="container mt-5">
        <center>
          <form action="{% url 'finance:search_student' %}" method="POST">
            {% csrf_token %}
              <input type='text' name='search' placeholder="Search Student" class="form-control shadow p-3 mb-5 bg-body rounded" />
              <input type="submit" value="Search" class="btn btn-primary mt-3"/>
          </form>
        </center>
    </div>
    <div class="container mt-3 mb-3">
      <hr>
    </div>
    <div class="container mb-5 mt-5">
        <center>
            <h1 class="display-6 mb-5">New Student List</h1>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Roll Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">last Name </th>
                    <th scope="col">User Name</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Total Tution Fee</th>
                    <th scope="col">Pay</th>
                  </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <th scope="row">{{student.id}}</th>
                        <td>{{student.student_profile.firstname}}</td>
                        <td>{{student.student_profile.lastname}}</td>
                        <td>{{student.student_profile.user}}</td>
                        <td>{{student.student_profile.course}}</td>
                        <td>{{student.student_profile.actual_fee}}</td>
                        <td><a href="{% url 'finance:studentactivate' student.id %}" class="btn btn-success">Pay</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </center>
    </div>
{%endblock body %}